Parse JSON for only Phil

In [7]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_business.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
Phil_only = [obj for obj in json_array if obj['city'] == 'Philadelphia']
len(Phil_only)

In [5]:
with open('Philadelphia.jsonl', 'w') as json_file:
    for item in Phil_only:
        json.dump(item, json_file)
        json_file.write('\n')

Hotel for Phil

In [6]:
Phil_hotel = []
for obj in Phil_only:
    if(obj['categories']):
        for i in obj['categories'].strip().split(','):
            if i == ' Hotels' or i == 'Hotels':
                Phil_hotel.append(obj)

In [7]:
with open('Philadelphia_Hotels.jsonl', 'w') as json_file:
    for item in Phil_hotel:
        json.dump(item, json_file)
        json_file.write('\n')

Resturants

In [8]:
Phil_restaurant = []
for obj in Phil_only:
    if(obj['categories']):
        if ('Restaurants' in obj['categories'].strip()) or (' Restaurants' in obj['categories'].strip()):
            Phil_restaurant.append(obj)

In [9]:
with open('Philadelphia_Restaurants.jsonl', 'w') as json_file:
    for item in Phil_restaurant:
        json.dump(item, json_file)
        json_file.write('\n')

Attractions

In [10]:
Phil_attractions = []
seen = set()

1. museum

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Museums' in obj['categories'].strip().split(',')) or (' Museums' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

2. Park

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Parks' in obj['categories'].strip().split(',')) or (' Parks' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

3.Local Flavor

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Local Flavor' in obj['categories'].strip().split(',')) or (' Local Flavor' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

4. Zoo

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Zoos' in obj['categories'].strip().split(',')) or (' Zoos' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

5. Tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Tours' in obj['categories'].strip().split(',')) or (' Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

6. Historical tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Historical Tours' in obj['categories'].strip().split(',')) or (' Historical Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

7. Landmark and historical buildings

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Landmarks & Historical Buildings' in obj['categories'].strip().split(',')) or (' Landmarks & Historical Buildings' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

8. sourvenir shops

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Souvenir Shops' in obj['categories'].strip().split(',')) or (' Souvenir Shops' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

In [19]:
with open('Philadelphia_Attractions.jsonl', 'w') as json_file:
    for item in Phil_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

All the reviews

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_review.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
json_array[0]

1. Reviews for Hotels

In [22]:
hotel_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_json_array.append(json_obj)

In [ ]:
review_json_array = []
for hotel in hotel_json_array:
    biz_id = hotel['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [41]:
with open('Philadelphia_Hotels_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

2. Reviews for Attractions

In [42]:
attraction_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attraction_json_array.append(json_obj)

In [43]:
review_json_array = []
for attraction in attraction_json_array:
    biz_id = attraction['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [44]:
with open('Philadelphia_Attractions_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

3. Reviews for Restaurants

In [45]:
restaurant_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurant_json_array.append(json_obj)

In [46]:
review_json_array = []
for restaurant in restaurant_json_array:
    biz_id = restaurant['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [47]:
with open('Philadelphia_Restaurants_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

Validation of the integrity of the data retrived (if the review counts match)

In [5]:
#just to get one review for "6I_DA3uqOox50rBvjrQ_-g"
review_json_array = []
biz_id = '6I_DA3uqOox50rBvjrQ_-g'
for review in json_array:
    if review['business_id'] == biz_id:
        review_json_array.append(review)
        break

In [7]:
review_json_array[0]

Get rid of not open anymore places

1. Hotel

In [2]:
hotels = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [6]:
openning_hotels = []

for hotel in hotels:
    if(hotel['is_open'] == 1):
        openning_hotels.append(hotel)
len(openning_hotels)

#write the cleaned data to a new jsonl file
with open('Hotels.jsonl', 'w') as json_file:    
    for item in openning_hotels:
        json.dump(item, json_file)
        json_file.write('\n')

In [8]:
hotel_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Hotels_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_reviews.append(json_obj)

In [12]:
openning_hotels_reviews = []

for hotel in openning_hotels:
    biz_id = hotel['business_id']
    for review in hotel_reviews:
        if review['business_id'] == biz_id:
            openning_hotels_reviews.append(review)

with open('Hotels_Reviews.jsonl', 'w') as json_file:    
    for item in openning_hotels_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

2. Attractions

In [2]:
attractions = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [4]:
openning_attractions = []

for attraction in attractions:
    if(attraction['is_open'] == 1):
        openning_attractions.append(attraction)

#write the cleaned data to a new jsonl file
with open('Attractions.jsonl', 'w') as json_file:    
    for item in openning_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
attractions_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Attractions_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_reviews.append(json_obj)

In [7]:
openning_attractions_reviews = []

for attraction in openning_attractions:
    biz_id = attraction['business_id']
    for review in attractions_reviews:
        if review['business_id'] == biz_id:
            openning_attractions_reviews.append(review)

with open('Attractions_Reviews.jsonl', 'w') as json_file:    
    for item in openning_attractions_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

3. Restaurants

In [3]:
restaurants = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
openning_restaurants = []

for restaurant in restaurants:
    if(restaurant['is_open'] == 1):
        openning_restaurants.append(restaurant)

#write the cleaned data to a new jsonl file
with open('Restaurants.jsonl', 'w') as json_file:    
    for item in openning_restaurants:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
restaurants_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

In [6]:
openning_restaurants_reviews = []

for restaurant in openning_restaurants:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            openning_restaurants_reviews.append(review)

with open('Restaurants_Reviews.jsonl', 'w') as json_file:    
    for item in openning_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

For restaurants, keep top 1000 review count restaurants

In [2]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
#sort restaurants by review count descending
sorted_restaurants = sorted(restaurants, key=lambda x: x['review_count'], reverse=True)
top_1000 = sorted_restaurants[:1000]
#write the cleaned data to a new jsonl file
with open('Datasets/Restaurants_top1000.jsonl', 'w') as json_file:    
    for item in top_1000:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
#find the reviews for the top 1000 restaurants
restaurants_reviews = []

# Open the file and read it line by line
with open('Datasets/Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

top1000_restaurants_reviews = []

for restaurant in top_1000:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            top1000_restaurants_reviews.append(review)

with open('Datasets/Restaurants_top1000_Reviews.jsonl', 'w') as json_file:    
    for item in top1000_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

Combine origial and detail, and clean up uncessray attributes

In [3]:
hotels = []

# Open the file and read it line by line
with open('Datasets/Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [4]:
hotels_detail = []

# Open the file and read it line by line
with open('Datasets/Hotels_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_detail.append(json_obj)

In [6]:
hotel_clean_attributes = ['business_id','name','address','city','stars','review_count']

hotel_clean = [{attr: record[attr] for attr in hotel_clean_attributes} for record in hotels]

In [9]:
hotel_detail_clean_attributes = ['id','price']

hotel_detail_clean = [{attr: record.get(attr) for attr in hotel_detail_clean_attributes} for record in hotels_detail]

In [11]:
df1 = pd.DataFrame(hotel_clean)
df2 = pd.DataFrame(hotel_detail_clean)

In [ ]:
df2 = df2.rename(columns =  {'id':'business_id'})

In [13]:
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')
len(merged_array)

107

In [14]:
with open('Datasets/Hotels_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

Attractions

In [14]:
attractions = []

# Open the file and read it line by line
with open('Datasets/Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [16]:
attraction_attr = ['business_id','name','address','city','stars','review_count','categories','hours']


attraction_clean=[{attr:record.get(attr) for attr in attraction_attr}for record in attractions]

In [20]:
attractions_detail = []

# Open the file and read it line by line
with open('Datasets/Attractions_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_detail.append(json_obj)

In [26]:
attractions_detail_attr = ['id','price']
attraction_detail_clean=[{attr:record.get(attr) for attr in attractions_detail_attr}for record in attractions_detail]

In [29]:
df1 = pd.DataFrame(attraction_clean)
df2 = pd.DataFrame(attraction_detail_clean)

In [ ]:
df2 = df2.rename(columns =  {'id':'business_id'})

In [31]:
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')
len(merged_array)

347

In [32]:
with open('Datasets/Attractions_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

Restaurants

In [95]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants_top1000.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [96]:
restaurants_attr = ['business_id','name','address','city','stars','review_count','good_for_meal','categories']
#also want the GoodForMeal in attributes
for record in restaurants:
    record['good_for_meal'] = record.get('attributes', {}).get('GoodForMeal', "None")

In [97]:
restaurants_clean = [{attr:record.get(attr) for attr in restaurants_attr}for record in restaurants]

In [98]:
restaurants_detail = []

# Open the file and read it line by line
with open('Datasets/Restaurants_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_detail.append(json_obj)

In [99]:
restaurants_detail_attr = ['id','price']
restaurants_detail_clean=[{attr:record.get(attr) for attr in restaurants_detail_attr}for record in restaurants_detail]

In [100]:
df1 = pd.DataFrame(restaurants_clean)
df2 = pd.DataFrame(restaurants_detail_clean)
df2 = df2.rename(columns =  {'id':'business_id'})
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')

In [101]:
with open('Datasets/Restaurants_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

process restaurants, mainly open up good for meal attribute

In [104]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [105]:
checkedAttr = ['dessert', 'latenight', 'lunch', 'dinner', 'brunch', 'breakfast']

for record in restaurants:
    processed = ''
    if(record.get('good_for_meal') != 'None'):
        invlid_json = record['good_for_meal']
        valid_json = invlid_json.replace("u'", "'").replace("'", '"').replace("None", "null").replace("True", "true").replace("False", "false")
        json_obj = json.loads(valid_json)
        for attr in checkedAttr:
            if json_obj.get(attr) == True:
                processed = ', '.join([processed, attr])
        record['good_for_meal'] = processed[2:]

In [106]:
with open('Datasets/Restaurants_pruned.jsonl', 'w') as json_file:    
    for item in restaurants:
        json.dump(item, json_file)
        json_file.write('\n')

Create CSV

Restaurants

In [ ]:
import json
import pandas as pd

data = []
with open('Datasets/Restaurants_pruned.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)

,business_id,name,address,city,stars,review_count,good_for_meal,categories,price
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,Philadelphia,4.5,1097.0,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,Philadelphia,4.0,822.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,Philadelphia,4.0,350.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,Philadelphia,3.5,593.0,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,Philadelphia,4.0,741.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$
...,...,...,...,...,...,...,...,...,...
995,ziyXteCmNmRprs10buP2iQ,Kilimandjaro Restaurant,4317 Chestnut St,Philadelphia,4.0,252.0,"lunch, dinner","African, Restaurants",$$
996,zjTBfbvbN2Ps6_Ar0w-fuQ,Hinge Cafe,2652 E Somerset St,Philadelphia,4.5,292.0,"brunch, breakfast","Nightlife, Arts & Entertainment, Caterers, Din...",$$
997,zpKTPWoW56wF6d9qNnxM3Q,Rybread,1711 Fairmount Ave,Philadelphia,4.0,433.0,"lunch, breakfast","Food, Sandwiches, Restaurants, Breakfast & Bru...",$
998,zujdPV3HT-Y-CKE1GgkMHQ,The Bakeshop on 20th,269 S 20th St,Philadelphia,4.5,346.0,"dessert, lunch, brunch, breakfast","Coffee & Tea, Bakeries, Food, Soup, Breakfast ...",$
999,zwd4dyQ5ovnjVojWfAuhMw,European Republic,213 Chestnut St,Philadelphia,4.0,239.0,lunch,"Belgian, Food, Specialty Food, Restaurants, Et...",$

In [109]:
df = df.loc[:, ['name', 'address', 'stars', 'good_for_meal', 'categories', 'price']]
df.head()

,name,address,stars,good_for_meal,categories,price
0,IndeBlue Modern Indian Food & Spirits,205 South 13th St,4.5,dinner,"Cocktail Bars, Food Delivery Services, Nightli...",$$
1,Spice 28,1228 Chestnut St,4.0,"lunch, dinner","Asian Fusion, Restaurants, American (New), Tha...",$$
2,World Cafe Live,3025 Walnut St,4.0,dinner,"Nightlife, Arts & Entertainment, Restaurants, ...",$$
3,Marathon,121 S 16th St,3.5,"lunch, brunch","Sandwiches, American (New), Lounges, Nightlife...",$$
4,Sam's Morning Glory Diner,735 S 10th St,4.0,"brunch, breakfast","Breakfast & Brunch, Restaurants, Diners",$$

In [110]:
df.to_csv('Datasets/Restaurants.csv', index=False)

Hotels

In [111]:
import json
import pandas as pd

data = []
with open('Datasets/Hotels_pruned.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df

,business_id,name,address,city,stars,review_count,price
0,-D_3emciINpjvYXsHCf8OA,AKA Rittenhouse Square,135 S 18th St,Philadelphia,4.5,38,$$$
1,0FMOvA2Noq-gieWfnXB7aQ,Live! Casino & Hotel Philadelphia,900 Packer Ave,Philadelphia,2.5,26,None
2,0bvtIbpsqBJZpRKSPwIfNw,Panorama,14 N Front St,Philadelphia,4.0,324,$$$
3,0hVf3a0oq8ckB8JIDwSgig,Days Inn by Wyndham Philadelphia Convention Ce...,1227 Race Street,Philadelphia,2.0,51,$$
4,1QlgJVS-WEb9KGS42sQMIA,ROOST Rittenhouse,1831 Chestnut St,Philadelphia,4.0,5,None
...,...,...,...,...,...,...,...
102,xV32Y7jne4duaM3H_r_ryQ,Holiday Inn Express Philadelphia - Penns Landing,100 N Columbus Blvd,Philadelphia,3.5,88,$$
103,xcySfsPDols3EdtFC6b76g,Sheraton Philadelphia University City Hotel,3549 Chestnut St,Philadelphia,2.5,149,$$
104,yrpbZJblFvKpXSMvj--WVQ,Blue Cross RiverRink Winterfest,101 S Columbus Blvd,Philadelphia,4.0,67,$$
105,zJErbOQMKX-MwHs_ulV7DA,Philadelphia Marriott Old City,"One Dock St, 2nd and Walnut St",Philadelphia,3.0,217,$
106,zy2p8yfx_fgXMCCUo8nWsA,Sleep Inn Center City,1020 Cherry St,Philadelphia,3.5,45,$

In [112]:
df = df.loc[:, ['name', 'address', 'stars', 'price']]
df.head()

,name,address,stars,price
0,AKA Rittenhouse Square,135 S 18th St,4.5,$$$
1,Live! Casino & Hotel Philadelphia,900 Packer Ave,2.5,None
2,Panorama,14 N Front St,4.0,$$$
3,Days Inn by Wyndham Philadelphia Convention Ce...,1227 Race Street,2.0,$$
4,ROOST Rittenhouse,1831 Chestnut St,4.0,None

In [113]:
df.to_csv('Datasets/Hotels.csv', index=False)

Attractions

In [114]:
data = []
with open('Datasets/Attractions_pruned.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df

,business_id,name,address,city,stars,review_count,categories,hours,price
0,--sXnWH9Xm6_NvIjyuA99w,Philadelphia,,Philadelphia,4.0,29.0,"Public Services & Government, Local Flavor",None,None
1,-3e3CP3FFc-rvJj_-_airw,Penn's Landing,601 N Christopher Columbus Blvd,Philadelphia,3.5,80.0,"Arts & Entertainment, Active Life, Skating Rin...",None,$
2,-aeZuatjCDMV1X4gCTz9Ug,David Thomas Trailways,14005 McNulty Rd,Philadelphia,4.5,6.0,"Buses, Transportation, Bus Tours, Hotels & Tra...","{'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'...",None
3,-iejZ38ttViiaaHIAl5iYg,Philadelphia International Festival of the Art...,300 S Broad St Philadelphia,Philadelphia,4.0,7.0,"Local Flavor, Festivals, Performing Arts, Arts...",None,None
4,-mIlmp5l4hKlp1tvHRdvTg,Sonny's Famous Steaks,228 Market St,Philadelphia,4.0,1697.0,"Cheesesteaks, Comfort Food, Restaurants, Delis...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",$$
...,...,...,...,...,...,...,...,...,...
341,zAVc0p8TQtR-6IfJsNNEVQ,Green Street Dog Park,1819 Green St,Philadelphia,3.5,7.0,"Active Life, Dog Parks, Parks","{'Monday': '7:0-21:0', 'Tuesday': '7:0-21:0', ...",None
342,zCmdpK9TYREr3sO1QO6BCw,Philly Brew Tours by City Brew Tours,1277 Filbert St,Philadelphia,5.0,68.0,"Event Planning & Services, Tours, Beer Tours, ...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",None
343,zXifwnYDGPBd0bAWco777w,The Schuylkill River Loop,1 Boathouse Row,Philadelphia,4.5,18.0,"Active Life, Boating, Local Flavor",None,None
344,zc5VAa0CBWIvk7GLr9d5Qw,The Pleasure Chest,2039 Walnut St,Philadelphia,3.5,22.0,"Toy Stores, Shopping, Fashion, Adult, Lingerie...","{'Monday': '0:0-0:0', 'Tuesday': '12:0-18:0', ...",$$
345,ziMvN9iVXWQJrBtzcEONMg,Philly Pretzel Factory,1532 Sansom St,Philadelphia,4.0,117.0,"Food, Pretzels, Hot Dogs, Bakeries, Restaurant...","{'Monday': '4:0-0:0', 'Tuesday': '0:0-0:0', 'W...",$

In [115]:
df = df.loc[:, ['name', 'address', 'stars', 'categories', 'hours' ,'price']]
df.head()

,name,address,stars,categories,hours,price
0,Philadelphia,,4.0,"Public Services & Government, Local Flavor",None,None
1,Penn's Landing,601 N Christopher Columbus Blvd,3.5,"Arts & Entertainment, Active Life, Skating Rin...",None,$
2,David Thomas Trailways,14005 McNulty Rd,4.5,"Buses, Transportation, Bus Tours, Hotels & Tra...","{'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'...",None
3,Philadelphia International Festival of the Art...,300 S Broad St Philadelphia,4.0,"Local Flavor, Festivals, Performing Arts, Arts...",None,None
4,Sonny's Famous Steaks,228 Market St,4.0,"Cheesesteaks, Comfort Food, Restaurants, Delis...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ...",$$

In [116]:
df.to_csv('Datasets/Attractions.csv', index=False)