Parse JSON for only Phil

In [17]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import csv
import random

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_business.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
Phil_only = [obj for obj in json_array if obj['city'] == 'Philadelphia']
len(Phil_only)

In [5]:
with open('Philadelphia.jsonl', 'w') as json_file:
    for item in Phil_only:
        json.dump(item, json_file)
        json_file.write('\n')

Hotel for Phil

In [6]:
Phil_hotel = []
for obj in Phil_only:
    if(obj['categories']):
        for i in obj['categories'].strip().split(','):
            if i == ' Hotels' or i == 'Hotels':
                Phil_hotel.append(obj)

In [7]:
with open('Philadelphia_Hotels.jsonl', 'w') as json_file:
    for item in Phil_hotel:
        json.dump(item, json_file)
        json_file.write('\n')

Resturants

In [8]:
Phil_restaurant = []
for obj in Phil_only:
    if(obj['categories']):
        if ('Restaurants' in obj['categories'].strip()) or (' Restaurants' in obj['categories'].strip()):
            Phil_restaurant.append(obj)

In [9]:
with open('Philadelphia_Restaurants.jsonl', 'w') as json_file:
    for item in Phil_restaurant:
        json.dump(item, json_file)
        json_file.write('\n')

Attractions

In [10]:
Phil_attractions = []
seen = set()

1. museum

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Museums' in obj['categories'].strip().split(',')) or (' Museums' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

2. Park

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Parks' in obj['categories'].strip().split(',')) or (' Parks' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

3.Local Flavor

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Local Flavor' in obj['categories'].strip().split(',')) or (' Local Flavor' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

4. Zoo

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Zoos' in obj['categories'].strip().split(',')) or (' Zoos' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

5. Tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Tours' in obj['categories'].strip().split(',')) or (' Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

6. Historical tours

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Historical Tours' in obj['categories'].strip().split(',')) or (' Historical Tours' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

7. Landmark and historical buildings

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Landmarks & Historical Buildings' in obj['categories'].strip().split(',')) or (' Landmarks & Historical Buildings' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

8. sourvenir shops

In [ ]:
for obj in Phil_only:
    if(obj['categories']):
        if ('Souvenir Shops' in obj['categories'].strip().split(',')) or (' Souvenir Shops' in obj['categories'].strip().split(',')):
            identifier = obj['business_id']
            if identifier not in seen:
                seen.add(identifier)
                Phil_attractions.append(obj)
print(f'new record: {len(Phil_attractions)}')

In [19]:
with open('Philadelphia_Attractions.jsonl', 'w') as json_file:
    for item in Phil_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

All the reviews

In [3]:
json_array = []

# Open the file and read it line by line
with open('yelp_academic_dataset_review.json', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        json_array.append(json_obj)

In [ ]:
json_array[0]

1. Reviews for Hotels

In [22]:
hotel_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_json_array.append(json_obj)

In [ ]:
review_json_array = []
for hotel in hotel_json_array:
    biz_id = hotel['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [41]:
with open('Philadelphia_Hotels_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

2. Reviews for Attractions

In [42]:
attraction_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attraction_json_array.append(json_obj)

In [43]:
review_json_array = []
for attraction in attraction_json_array:
    biz_id = attraction['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [44]:
with open('Philadelphia_Attractions_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

3. Reviews for Restaurants

In [45]:
restaurant_json_array = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurant_json_array.append(json_obj)

In [46]:
review_json_array = []
for restaurant in restaurant_json_array:
    biz_id = restaurant['business_id']
    for review in json_array:
        if review['business_id'] == biz_id:
            review_json_array.append(review)

In [47]:
with open('Philadelphia_Restaurants_Reviews.jsonl', 'w') as json_file:
    for item in review_json_array:
        json.dump(item, json_file)
        json_file.write('\n')

Validation of the integrity of the data retrived (if the review counts match)

In [5]:
#just to get one review for "6I_DA3uqOox50rBvjrQ_-g"
review_json_array = []
biz_id = '6I_DA3uqOox50rBvjrQ_-g'
for review in json_array:
    if review['business_id'] == biz_id:
        review_json_array.append(review)
        break

In [7]:
review_json_array[0]

Get rid of not open anymore places

1. Hotel

In [2]:
hotels = []

# Open the file and read it line by line
with open('Philadelphia_Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [6]:
openning_hotels = []

for hotel in hotels:
    if(hotel['is_open'] == 1):
        openning_hotels.append(hotel)
len(openning_hotels)

#write the cleaned data to a new jsonl file
with open('Hotels.jsonl', 'w') as json_file:    
    for item in openning_hotels:
        json.dump(item, json_file)
        json_file.write('\n')

In [8]:
hotel_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Hotels_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotel_reviews.append(json_obj)

In [12]:
openning_hotels_reviews = []

for hotel in openning_hotels:
    biz_id = hotel['business_id']
    for review in hotel_reviews:
        if review['business_id'] == biz_id:
            openning_hotels_reviews.append(review)

with open('Hotels_Reviews.jsonl', 'w') as json_file:    
    for item in openning_hotels_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

2. Attractions

In [2]:
attractions = []

# Open the file and read it line by line
with open('Philadelphia_Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [4]:
openning_attractions = []

for attraction in attractions:
    if(attraction['is_open'] == 1):
        openning_attractions.append(attraction)

#write the cleaned data to a new jsonl file
with open('Attractions.jsonl', 'w') as json_file:    
    for item in openning_attractions:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
attractions_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Attractions_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_reviews.append(json_obj)

In [7]:
openning_attractions_reviews = []

for attraction in openning_attractions:
    biz_id = attraction['business_id']
    for review in attractions_reviews:
        if review['business_id'] == biz_id:
            openning_attractions_reviews.append(review)

with open('Attractions_Reviews.jsonl', 'w') as json_file:    
    for item in openning_attractions_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

3. Restaurants

In [3]:
restaurants = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
openning_restaurants = []

for restaurant in restaurants:
    if(restaurant['is_open'] == 1):
        openning_restaurants.append(restaurant)

#write the cleaned data to a new jsonl file
with open('Restaurants.jsonl', 'w') as json_file:    
    for item in openning_restaurants:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
restaurants_reviews = []

# Open the file and read it line by line
with open('Philadelphia_Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

In [6]:
openning_restaurants_reviews = []

for restaurant in openning_restaurants:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            openning_restaurants_reviews.append(review)

with open('Restaurants_Reviews.jsonl', 'w') as json_file:    
    for item in openning_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

For restaurants, keep top 1000 review count restaurants

In [2]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [4]:
#sort restaurants by review count descending
sorted_restaurants = sorted(restaurants, key=lambda x: x['review_count'], reverse=True)
top_1000 = sorted_restaurants[:1000]
#write the cleaned data to a new jsonl file
with open('Datasets/Restaurants_top1000.jsonl', 'w') as json_file:    
    for item in top_1000:
        json.dump(item, json_file)
        json_file.write('\n')

In [5]:
#find the reviews for the top 1000 restaurants
restaurants_reviews = []

# Open the file and read it line by line
with open('Datasets/Restaurants_Reviews.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_reviews.append(json_obj)

top1000_restaurants_reviews = []

for restaurant in top_1000:
    biz_id = restaurant['business_id']
    for review in restaurants_reviews:
        if review['business_id'] == biz_id:
            top1000_restaurants_reviews.append(review)

with open('Datasets/Restaurants_top1000_Reviews.jsonl', 'w') as json_file:    
    for item in top1000_restaurants_reviews:
        json.dump(item, json_file)
        json_file.write('\n')

Combine origial and detail, and clean up uncessray attributes

In [3]:
hotels = []

# Open the file and read it line by line
with open('Datasets/Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [4]:
hotels_detail = []

# Open the file and read it line by line
with open('Datasets/Hotels_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_detail.append(json_obj)

In [6]:
hotel_clean_attributes = ['business_id','name','address','city','stars','review_count']

hotel_clean = [{attr: record[attr] for attr in hotel_clean_attributes} for record in hotels]

In [9]:
hotel_detail_clean_attributes = ['id','price']

hotel_detail_clean = [{attr: record.get(attr) for attr in hotel_detail_clean_attributes} for record in hotels_detail]

In [11]:
df1 = pd.DataFrame(hotel_clean)
df2 = pd.DataFrame(hotel_detail_clean)

In [ ]:
df2 = df2.rename(columns =  {'id':'business_id'})

In [13]:
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')
len(merged_array)

107

In [14]:
with open('Datasets/Hotels_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

Attractions

In [19]:
attractions = []

# Open the file and read it line by line
with open('Datasets/Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [20]:
attraction_attr = ['business_id','name','address','city','stars','review_count','categories','hours']


attraction_clean=[{attr:record.get(attr) for attr in attraction_attr}for record in attractions]

In [22]:
attractions_detail = []

# Open the file and read it line by line
with open('Datasets/Attractions_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_detail.append(json_obj)

In [23]:
attractions_detail_attr = ['id','price']
attraction_detail_clean=[{attr:record.get(attr) for attr in attractions_detail_attr}for record in attractions_detail]

In [24]:
df1 = pd.DataFrame(attraction_clean)
df2 = pd.DataFrame(attraction_detail_clean)

In [25]:
df2 = df2.rename(columns =  {'id':'business_id'})

In [26]:
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')
len(merged_array)

347

In [27]:
with open('Datasets/Attractions_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

Restaurants

In [40]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants_top1000.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [41]:
restaurants_attr = ['business_id','name','address','city','stars','review_count','good_for_meal','categories']
#also want the GoodForMeal in attributes
for record in restaurants:
    record['good_for_meal'] = record.get('attributes', {}).get('GoodForMeal', "None")

In [42]:
restaurants_clean = [{attr:record.get(attr) for attr in restaurants_attr}for record in restaurants]

In [43]:
restaurants_detail = []

# Open the file and read it line by line
with open('Datasets/Restaurants_top1000_detail.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_detail.append(json_obj)

In [44]:
restaurants_detail_attr = ['id','price']
restaurants_detail_clean=[{attr:record.get(attr) for attr in restaurants_detail_attr}for record in restaurants_detail]

In [45]:
df1 = pd.DataFrame(restaurants_clean)
df2 = pd.DataFrame(restaurants_detail_clean)
df2 = df2.rename(columns =  {'id':'business_id'})
merged_df = pd.merge(df1, df2, on='business_id', how='outer')
merged_array = merged_df.to_dict('records')

In [46]:
with open('Datasets/Restaurants_pruned.jsonl', 'w') as json_file:    
    for item in merged_array:
        json.dump(item, json_file)
        json_file.write('\n')

process restaurants, mainly open up good for meal attribute

In [50]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [51]:
checkedAttr = ['dessert', 'latenight', 'lunch', 'dinner', 'brunch', 'breakfast']

for record in restaurants:
    processed = ''
    if(record.get('good_for_meal') != 'None'):
        invlid_json = record['good_for_meal']
        valid_json = invlid_json.replace("u'", "'").replace("'", '"').replace("None", "null").replace("True", "true").replace("False", "false")
        json_obj = json.loads(valid_json)
        for attr in checkedAttr:
            if json_obj.get(attr) == True:
                processed = ', '.join([processed, attr])
        record['good_for_meal'] = processed[2:]
    else:
        record['good_for_meal'] = 'Unknown'

In [53]:
with open('Datasets/Restaurants_pruned.jsonl', 'w') as json_file:    
    for item in restaurants:
        json.dump(item, json_file)
        json_file.write('\n')

Post process:
1. process price level, turn 'None' into 'No Price info'

In [12]:
hotels = []

# Open the file and read it line by line
with open('Datasets/Hotels_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels.append(json_obj)

In [14]:
hotels_new = []
for hotel in hotels:
    if hotel['price'] == None:
        hotel['price'] = 'Unknown price'
    hotels_new.append(hotel)

#write into jsonl file
with open('Datasets/Hotels_pruned.jsonl', 'w') as json_file:    
    for item in hotels_new:
        json.dump(item, json_file)
        json_file.write('\n')

In [60]:
attractions = []

# Open the file and read it line by line
with open('Datasets/Attractions_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions.append(json_obj)

In [61]:
# address = "", hour = null, price = null
attractions_new = []

for record in attractions:
    if record.get('address') == "":
        record['address'] = 'Unknown address'
    if record.get('hours') == None:
        record['hours'] = 'Unknown hours'
    if record.get('price') == None:
        record['price'] = 'Unknown price'
    attractions_new.append(record)

In [62]:
with open('Datasets/Attractions_pruned.jsonl', 'w') as json_file:    
    for item in attractions_new:
        json.dump(item, json_file)
        json_file.write('\n')

In [63]:
restaurants = []

# Open the file and read it line by line
with open('Datasets/Restaurants_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants.append(json_obj)

In [64]:
#"address": ""; "price": null; "good_for_meal": "";
restaurants_new = []

for record in restaurants:
    if record.get('address') == "":
        record['address'] = 'Unknown address'
    if record.get('price') == None:
        record['price'] = 'Unknown price'
    if record.get('good_for_meal') == "":
        record['good_for_meal'] = 'Unknown'
    restaurants_new.append(record)

In [65]:
with open('Datasets/Restaurants_pruned_test.jsonl', 'w') as json_file:    
    for item in restaurants_new:
        json.dump(item, json_file)
        json_file.write('\n')

All pruned together

In [2]:
import json

all = []

# Open the file and read it line by line
with open('Datasets/Restaurants_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        all.append(json_obj)

# Open the file and read it line by line
with open('Datasets/Hotels_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        all.append(json_obj)

# Open the file and read it line by line
with open('Datasets/Attractions_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        all.append(json_obj)

with open('Datasets/all_pruned.jsonl', 'w') as json_file:    
    for item in all:
        json.dump(item, json_file)
        json_file.write('\n')

Drop duplicates in all_pruned for testing purpose, the duplicate not from error, just same business both collected as attraction and restaurants.

In [ ]:
#drop duplicates in all_pruned.jsonl

import json
import pandas as pd

all = []

#load all_pruned.jsonl into a list of dictionaries
with open('Datasets/all_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        all.append(json_obj)

df = pd.DataFrame(all)
#drop duplicates in df based on business_id
df = df.drop_duplicates(subset='business_id', keep='first')

#write into jsonl file
with open('Datasets/all_pruned.jsonl', 'w') as json_file:    
    for item in df.to_dict('records'):
        json.dump(item, json_file)
        json_file.write('\n')

:

Create CSV

Restaurants

In [26]:
import json
import pandas as pd

data = []
with open('Datasets/Restaurants_task1.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df.head()

,business_id,name,address,latitude,longitude,stars,good_for_meal,price,restaurant_type_1,restaurant_type_2,cuisine_1,cuisine_2,perks
0,-0TffRSXXIlBYVbb5AwfTg,IndeBlue Modern Indian Food & Spirits,205 South 13th St,39.948508,-75.161969,4.5,dinner,$$,Restaurants,Bars,Indian,Not Applicable,Not Applicable
1,-1B9pP_CrRBJYPICE5WbRA,Spice 28,1228 Chestnut St,39.950352,-75.161583,4.0,"lunch, dinner",$$,Restaurants,Not Applicable,Asian Fusion,American (New),Not Applicable
2,-5Rah4ZvWsDu4oilUZxhtw,World Cafe Live,3025 Walnut St,39.952074,-75.185177,4.0,dinner,$$,Restaurants,Bars,American,Not Applicable,Music Venues
3,-ATiAtTikuGuqvaW2O6tNA,Marathon,121 S 16th St,39.950483,-75.167331,3.5,"lunch, brunch",$$,Restaurants,Bars,American (New),Not Applicable,Sandwiches
4,-DGsnMlRrR_tv8avrpQLQw,Sam's Morning Glory Diner,735 S 10th St,39.940861,-75.158905,4.0,"brunch, breakfast",$$,Restaurants,Diners,Not Applicable,Not Applicable,Breakfast & Brunch

In [27]:
df = df.loc[:, ['name', 'address', 'latitude','longitude', 'stars', 'good_for_meal', 'price', 'restaurant_type_1','restaurant_type_2','cuisine_1','cuisine_2','perks']]
df.head()

,name,address,latitude,longitude,stars,good_for_meal,price,restaurant_type_1,restaurant_type_2,cuisine_1,cuisine_2,perks
0,IndeBlue Modern Indian Food & Spirits,205 South 13th St,39.948508,-75.161969,4.5,dinner,$$,Restaurants,Bars,Indian,Not Applicable,Not Applicable
1,Spice 28,1228 Chestnut St,39.950352,-75.161583,4.0,"lunch, dinner",$$,Restaurants,Not Applicable,Asian Fusion,American (New),Not Applicable
2,World Cafe Live,3025 Walnut St,39.952074,-75.185177,4.0,dinner,$$,Restaurants,Bars,American,Not Applicable,Music Venues
3,Marathon,121 S 16th St,39.950483,-75.167331,3.5,"lunch, brunch",$$,Restaurants,Bars,American (New),Not Applicable,Sandwiches
4,Sam's Morning Glory Diner,735 S 10th St,39.940861,-75.158905,4.0,"brunch, breakfast",$$,Restaurants,Diners,Not Applicable,Not Applicable,Breakfast & Brunch

In [28]:
df.to_csv('Datasets/Restaurants_task1.csv', index=False)

Hotels

In [29]:
data = []
with open('Datasets/Hotels_task1.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df.head()

,business_id,name,address,latitude,longitude,stars,price
0,-D_3emciINpjvYXsHCf8OA,AKA Rittenhouse Square,135 S 18th St,39.950365,-75.170453,4.5,$$$
1,0FMOvA2Noq-gieWfnXB7aQ,Live! Casino & Hotel Philadelphia,900 Packer Ave,39.909191,-75.164662,2.5,Unknown price
2,0bvtIbpsqBJZpRKSPwIfNw,Panorama,14 N Front St,39.950201,-75.142285,4.0,$$$
3,0hVf3a0oq8ckB8JIDwSgig,Days Inn by Wyndham Philadelphia Convention Ce...,1227 Race Street,39.956112,-75.160216,2.0,$$
4,1QlgJVS-WEb9KGS42sQMIA,ROOST Rittenhouse,1831 Chestnut St,39.952009,-75.171520,4.0,Unknown price

In [30]:
df = df.loc[:, ['name', 'address', 'latitude','longitude', 'stars', 'price']]
df.head()

,name,address,latitude,longitude,stars,price
0,AKA Rittenhouse Square,135 S 18th St,39.950365,-75.170453,4.5,$$$
1,Live! Casino & Hotel Philadelphia,900 Packer Ave,39.909191,-75.164662,2.5,Unknown price
2,Panorama,14 N Front St,39.950201,-75.142285,4.0,$$$
3,Days Inn by Wyndham Philadelphia Convention Ce...,1227 Race Street,39.956112,-75.160216,2.0,$$
4,ROOST Rittenhouse,1831 Chestnut St,39.952009,-75.171520,4.0,Unknown price

In [31]:
df.to_csv('Datasets/Hotels_task1.csv', index=False)

Attractions

In [32]:
data = []
with open('Datasets/Attractions_task1.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)
df.head()

,business_id,name,address,latitude,longitude,stars,price,attraction_type,perks
0,--sXnWH9Xm6_NvIjyuA99w,Philadelphia,Unknown address,39.952584,-75.165222,4.0,Unknown price,Local Flavor,Not Applicable
1,-3e3CP3FFc-rvJj_-_airw,Penn's Landing,601 N Christopher Columbus Blvd,39.960024,-75.137156,3.5,$,Parks,Nightlife
2,-aeZuatjCDMV1X4gCTz9Ug,David Thomas Trailways,14005 McNulty Rd,40.106409,-74.973937,4.5,Unknown price,Transportation,Bus Tours
3,-iejZ38ttViiaaHIAl5iYg,Philadelphia International Festival of the Art...,300 S Broad St Philadelphia,39.946622,-75.164951,4.0,Unknown price,Festivals,Performing Arts
4,-mIlmp5l4hKlp1tvHRdvTg,Sonny's Famous Steaks,228 Market St,39.949918,-75.144792,4.0,$$,Local Flavor,Cheesesteaks

In [33]:
df = df.loc[:, ['name', 'address', 'latitude','longitude','stars', 'price','attraction_type','perks']]
df.head()

,name,address,latitude,longitude,stars,price,attraction_type,perks
0,Philadelphia,Unknown address,39.952584,-75.165222,4.0,Unknown price,Local Flavor,Not Applicable
1,Penn's Landing,601 N Christopher Columbus Blvd,39.960024,-75.137156,3.5,$,Parks,Nightlife
2,David Thomas Trailways,14005 McNulty Rd,40.106409,-74.973937,4.5,Unknown price,Transportation,Bus Tours
3,Philadelphia International Festival of the Art...,300 S Broad St Philadelphia,39.946622,-75.164951,4.0,Unknown price,Festivals,Performing Arts
4,Sonny's Famous Steaks,228 Market St,39.949918,-75.144792,4.0,$$,Local Flavor,Cheesesteaks

In [34]:
df.to_csv('Datasets/Attractions_task1.csv', index=False)

Create background information prompt

In [36]:
import csv
with open('Datasets/Hotels_task1.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/hotel_prompt_task1.txt", "w") as f:
    f.write(text)


#1926 tokens for 100 hotel: 20 token/hotel

In [37]:
with open('Datasets/Restaurants_task1.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/restaurants_prompt_task1.txt", "w") as f:
    f.write(text)
#

#36074 for 1000 restaurants: 36 token/restaurant

In [38]:
with open('Datasets/Attractions_task1.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/attractions_prompt_task1.txt", "w") as f:
    f.write(text)


#11904 tokens for 347 attractions: 34 token/attraction

All of them in one prompt

In [39]:
with open('Datasets/hotel_prompt_task1.txt', 'r') as f:
    hotel_text = f.read().replace('\n', '. ')

with open('Datasets/attractions_prompt_task1.txt', 'r') as f:
    attraction_text = f.read().replace('\n', '. ')

with open('Datasets/restaurants_prompt_task1.txt', 'r') as f:
    restaurant_text = f.read().replace('\n', '. ')

data = [
    {
        "Description": "Accommodations in Philadelphia",
        "Content": hotel_text
    },
    {
        "Description": "Attractions in Philadelphia",
        "Content": attraction_text
    },{
        "Description": "Restaurants in Philadelphia",
        "Content": restaurant_text
    }
]


# Write the JSON file
with open('Datasets/all_prompts_task1.json', 'w') as f:
    json.dump(data, f, indent=4)

Try adding a code for each business

In [ ]:
import pandas as pd

hotels = pd.read_csv('Datasets/Hotels.csv')
restaurants = pd.read_csv('Datasets/Restaurants.csv')
attractions = pd.read_csv('Datasets/Attractions.csv')

#add a column in the front of the dataframe called code and fill it with natural numbers for each df
hotels.insert(0, 'code', range(1, len(hotels) + 1))
restaurants.insert(0, 'code', range(1, len(restaurants) + 1))
attractions.insert(0, 'code', range(1, len(attractions) + 1))

hotels.to_csv('Datasets/Hotels_indexed.csv', index=False)
restaurants.to_csv('Datasets/Restarunts_indexed.csv', index=False)
attractions.to_csv('Datasets/Attractions_indexed.csv', index=False)

In [7]:
import csv

with open('Datasets/Hotels_indexed.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/hotel_indexed_prompt.txt", "w") as f:
    f.write(text)


#1926 tokens for 100 hotel: 20 token/hotel

In [8]:
with open('Datasets/Restarunts_indexed.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/restaurants_indexed_prompt.txt", "w") as f:
    f.write(text)
#

#36074 for 1000 restaurants: 36 token/restaurant

In [9]:
with open('Datasets/Attractions_indexed.csv', 'r') as f:
    reader = csv.reader(f)
    text = ''
    for row in reader:
        #put each row into a string
        text += ','.join(row)+ '\n'
with open("Datasets/attractions_indexed_prompt.txt", "w") as f:
    f.write(text)


#11904 tokens for 347 attractions: 34 token/attraction

In [11]:
import json
with open('Datasets/hotel_indexed_prompt.txt', 'r') as f:
    hotel_text = f.read().replace('\n', '. ')

with open('Datasets/attractions_indexed_prompt.txt', 'r') as f:
    attraction_text = f.read().replace('\n', '. ')

with open('Datasets/restaurants_indexed_prompt.txt', 'r') as f:
    restaurant_text = f.read().replace('\n', '. ')

data = [
    {
        "Description": "Accommodations in Philadelphia",
        "Content": hotel_text
    },
    {
        "Description": "Attractions in Philadelphia",
        "Content": attraction_text
    },{
        "Description": "Restaurants in Philadelphia",
        "Content": restaurant_text
    }
]


# Write the JSON file
with open('Datasets/all_indexed_prompts.json', 'w') as f:
    json.dump(data, f, indent=4)

take 50 from each and make a small reference for test, i really need a helper function

In [30]:
#attrtactions
with open('Datasets/Attractions.csv', 'r') as f:
    reader = csv.reader(f)
    rows = list(reader)
    header = rows[0]  # extract the header row
    data_rows = rows[1:]  # extract the data rows
    random_rows = random.sample(data_rows, 50)
    attractions = '' + str(header).replace('[','').replace(']','') + '\n'
    for row in random_rows:
        attractions += ','.join(row) + '\n'
    attractions = attractions.replace('\n', '. ')

#restaurants
with open('Datasets/Restaurants.csv', 'r') as f:
    reader = csv.reader(f)
    rows = list(reader)
    header = rows[0]  # extract the header row
    data_rows = rows[1:]  # extract the data rows
    random_rows = random.sample(data_rows, 50)
    restaurants = '' + str(header).replace('[','').replace(']','') + '\n'
    for row in random_rows:
        restaurants += ','.join(row) + '\n'
    restaurants = restaurants.replace('\n', '. ')

#hotels 
with open('Datasets/Hotels.csv', 'r') as f:
    reader = csv.reader(f)
    rows = list(reader)
    header = rows[0]  # extract the header row
    data_rows = rows[1:]  # extract the data rows
    random_rows = random.sample(data_rows, 50)
    hotels = '' + str(header).replace('[','').replace(']','') + '\n'
    for row in random_rows:
        hotels += ','.join(row) + '\n'
    hotels = hotels.replace('\n', '. ')

data = [
    {
        "Description": "Accommodations in Philadelphia",
        "Content": hotels
    },
    {
        "Description": "Attractions in Philadelphia",
        "Content": attractions
    },
    {
        "Description": "Restaurants in Philadelphia",
        "Content": restaurants
    }
]


# Write the JSON file
with open('Datasets/all_prompts_random50.json', 'w') as f:
    json.dump(data, f, indent=4)

Make task 1 dataset:

In [1]:
import json

In [3]:
attractions_primary = []

# Open the file and read it line by line
with open('Datasets/Attractions_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_primary.append(json_obj)

In [5]:
attractions_basic = []

for attraction in attractions_primary:
    attraction_basic = {key: attraction[key] for key in ['business_id', 'name','address','stars','price']}
    attractions_basic.append(attraction_basic)

In [14]:
attractions_openup = []

# Open the file and read it line by line
with open('Datasets/Attractions_open_cat.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_openup.append(json_obj)

In [15]:
attractions_task1 = []
for i,j in zip(attractions_basic,attractions_openup):
    #this means we can just append them together
    assert(i['business_id'] == j['business_id'])
    
    merged = {'business_id': i['business_id'], 'name': i['name'], 'address': i['address'], 'stars': i['stars'], 'price': i['price'], 'attraction_type': j['attraction_type'], 'perks': j['perks']}
    attractions_task1.append(merged)

In [16]:
# write attractions_task1 into jsonl
with open('Datasets/Attractions_task1.jsonl', 'w') as json_file:    
    for item in attractions_task1:
        json.dump(item, json_file)
        json_file.write('\n')
# we still missing location cluster

In [2]:
attractions_task1 = []
# Open the file and read it line by line
with open('Datasets/Attractions_task1.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_task1.append(json_obj)

In [5]:
attractions_allattr = []
# Open the file and read it line by line
with open('Datasets/Attractions.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        attractions_allattr.append(json_obj)

In [8]:
attractions_task1_finished = []
for i in attractions_task1:
    for j in attractions_allattr:
        if(i['business_id'] == j['business_id']):
            merged = {'business_id': i['business_id'], 'name': i['name'], 'address': i['address'], 'latitude': j['latitude'], 'longitude': j['longitude'],'stars': i['stars'], 'price': i['price'], 'attraction_type': i['attraction_type'], 'perks': i['perks']}
            attractions_task1_finished.append(merged)

with open('Datasets/Attractions_task1.jsonl', 'w') as json_file:
    for item in attractions_task1_finished:
        json.dump(item, json_file)
        json_file.write('\n')

In [2]:
hotels_primary = []

# Open the file and read it line by line
with open('Datasets/Hotels_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_primary.append(json_obj)

In [6]:
hotels_basic = []

for hotel in hotels_primary:
    hotel_basic = {key: hotel[key] for key in ['business_id', 'name','address','stars','price']}
    hotels_basic.append(hotel_basic)

In [8]:
# write attractions_task1 into jsonl
with open('Datasets/Hotels_task1.jsonl', 'w') as json_file:    
    for item in hotels_basic:
        json.dump(item, json_file)
        json_file.write('\n')
# we still missing location cluster

In [9]:
hotels_task1 = []
# Open the file and read it line by line
with open('Datasets/Hotels_task1.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_task1.append(json_obj)

In [10]:
hotels_allattr = []
# Open the file and read it line by line
with open('Datasets/Hotels.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        hotels_allattr.append(json_obj)

In [11]:
hotels_task1[0]

{'business_id': '-D_3emciINpjvYXsHCf8OA',
 'name': 'AKA Rittenhouse Square',
 'address': '135 S 18th St',
 'stars': 4.5,
 'price': '$$$'}

In [12]:
hotels_task1_finished = []
for i in hotels_task1:
    for j in hotels_allattr:
        if(i['business_id'] == j['business_id']):
            merged = {'business_id': i['business_id'], 'name': i['name'], 'address': i['address'], 'latitude': j['latitude'], 'longitude': j['longitude'],'stars': i['stars'], 'price': i['price']}
            hotels_task1_finished.append(merged)

with open('Datasets/Hotels_task1.jsonl', 'w') as json_file:
    for item in hotels_task1_finished:
        json.dump(item, json_file)
        json_file.write('\n')

In [22]:
restaurants_primary = []

# Open the file and read it line by line
with open('Datasets/Restaurants_pruned.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_primary.append(json_obj)

In [24]:
restaurants_basic = []

for restaurant in restaurants_primary:
    restaurant_basic = {key: restaurant[key] for key in ['business_id', 'name','address','stars','good_for_meal','price']}
    restaurants_basic.append(restaurant_basic)

In [27]:
restaurants_openup = []

# Open the file and read it line by line
with open('Datasets/Restaurants_open_cat.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_openup.append(json_obj)

In [29]:
restaurants_task1 = []
for i,j in zip(restaurants_basic,restaurants_openup):
    #this means we can just append them together
    assert(i['business_id'] == j['business_id'])
    
    merged = {'business_id': i['business_id'], 'name': i['name'], 'address': i['address'], 'stars': i['stars'], 'good_for_meal': i['good_for_meal'], 'price': i['price'], 'restaurant_type_1': j['restaurant_type_1'], 'restaurant_type_2': j['restaurant_type_2'], 'cuisine_1': j['cuisine_1'], 'cuisine_2': j['cuisine_2'], 'perks': j['perks']}
    restaurants_task1.append(merged)

In [30]:
# write attractions_task1 into jsonl
with open('Datasets/Restaurants_task1.jsonl', 'w') as json_file:    
    for item in restaurants_task1:
        json.dump(item, json_file)
        json_file.write('\n')
# we still missing location cluster

In [13]:
restaurants_task1 = []
# Open the file and read it line by line
with open('Datasets/Restaurants_task1.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_task1.append(json_obj)

In [14]:
restaurants_allattr = []
# Open the file and read it line by line
with open('Datasets/Restaurants.jsonl', 'r') as file:
    for line in file:
        # Parse each line as a JSON object and append to the list
        json_obj = json.loads(line.strip())  # strip() removes any leading/trailing whitespace
        restaurants_allattr.append(json_obj)

In [15]:
restaurants_task1[0]

{'business_id': '-0TffRSXXIlBYVbb5AwfTg',
 'name': 'IndeBlue Modern Indian Food & Spirits',
 'address': '205 South 13th St',
 'stars': 4.5,
 'good_for_meal': 'dinner',
 'price': '$$',
 'restaurant_type_1': 'Restaurants',
 'restaurant_type_2': 'Bars',
 'cuisine_1': 'Indian',
 'cuisine_2': 'Not Applicable',
 'perks': 'Not Applicable'}

In [16]:
restaurants_task1_finished = []
for i in restaurants_task1:
    for j in restaurants_allattr:
        if(i['business_id'] == j['business_id']):
            merged = {'business_id': i['business_id'], 'name': i['name'], 'address': i['address'], 'latitude': j['latitude'], 'longitude': j['longitude'],'stars': i['stars'], 'good_for_meal': i['good_for_meal'], 'price': i['price'], 'restaurant_type_1': i['restaurant_type_1'], 'restaurant_type_2': i['restaurant_type_2'], 'cuisine_1': i['cuisine_1'], 'cuisine_2': i['cuisine_2'], 'perks': i['perks']}
            restaurants_task1_finished.append(merged)

In [17]:
restaurants_task1_finished[0]

{'business_id': '-0TffRSXXIlBYVbb5AwfTg',
 'name': 'IndeBlue Modern Indian Food & Spirits',
 'address': '205 South 13th St',
 'latitude': 39.9485078263,
 'longitude': -75.1619688173,
 'stars': 4.5,
 'good_for_meal': 'dinner',
 'price': '$$',
 'restaurant_type_1': 'Restaurants',
 'restaurant_type_2': 'Bars',
 'cuisine_1': 'Indian',
 'cuisine_2': 'Not Applicable',
 'perks': 'Not Applicable'}

In [18]:
with open('Datasets/Restaurants_task1.jsonl', 'w') as json_file:
    for item in restaurants_task1_finished:
        json.dump(item, json_file)
        json_file.write('\n')